<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../static/styles.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>TrustBank</title>
        <script src="https://kit.fontawesome.com/486da4ca0e.js" crossorigin="anonymous"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@300;500;700&display=swap" rel="stylesheet">
    </head>
    <body>
        <header>
            <div class="image"></div>
            <div class="title">
                <h1>Compre e Venda <br><span style="font-size: 100px;color: #00ffff;">CryptoMoedas!</span></h1>
                <p>Maior website de Transações de Crypto a Nível Mundial.</p>
                <a href="#know-more" class="title-button">Saber Mais</a>
            </div>
            <div class="navbar">
                <div class="logo">
                    <a href="../templates/index.html"><img src="../images/logo.png"> TrustBank</a>
                </div>
                <ul class="nav-list">
                    <li><a href="">Home</a></li>
                    <li><a href="#services">Serviços</a></li>
                    <li><a href="#partnerships">Patrocinadores</a></li>
                    <li><a href="#about-us">Sobre Nós</a></li>
                </ul>
                <div class="buttons">
                    <a href="../templates/login.php">Entrar</a>
                    <div class="button">
                        <a href="../templates/signup.php">Criar Conta</a>
                    </div>
                </div>
            </div>
        </header>
        <main>
            <section class="box-container">
                <div class="box">
                    <img src="../images/box-icon1.png">
                    <h4>5+ Milhões de Clientes</h4>
                    <p>O número de clientes não é apenas um dado estatístico, é a prova viva do nosso sucesso e da confiança que depositam em nós.</p>
                </div>
                <div class="box">
                    <img src="../images/box-icon2.png">
                    <h4>Lucro desde o Primeiro Dia!</h4>
                    <p>Descubra a magia de uma taxa única que abre portas para um novo mundo de possibilidades financeiras.</p>
                </div>
                <div class="box">
                    <img src="../images/box-icon3.png">
                    <h4>Conta Sem Taxas ou Comissões </h4>
                    <p>Abra e consulte a sua conta de forma grátis e sem comissões.</p>
                </div>
                <div class="box">
                    <img src="../images/box-icon4.png">
                    <h4>Transações 100% Seguras</h4>
                    <p>Investimos em tecnologia de ponta para garantir que cada movimento financeiro seja uma experiência confiável e segura.</p>
                </div>
            </section>
            <section id="know-more" class="bank">
                <div class="bank-img">
                    <img src="../images/bank-logo.png">
                </div>
                <div class="bank-info">
                    <h2>Impulsionando o Crescimento e Sucesso Financeiro</h2>
                    <p>No <b>TrustBank</b> , acreditamos que a força de um país está na sua economia e no seu povo, para tal procuramos impulsionar o crescimento e o desenvolvimento de Portugal através de soluções financeiras sólidas.</p>
                    <hr>
                    <p>Proporcionamos uma experiência financeira exclusiva, tornando-nos a opção ideal pelas seguintes razões:</p>
                    <p>
                        <ul class="bank-info-list">
                            <li>
                                <p><b>Confiança</b> : Estabelecemos relacionamentos baseados na confiança mútua com os nossos clientes. A nossa reputação de integridade e transparência é um pilar fundamental do nosso sucesso.
                            <li>
                                <p><b>Inovação</b> : Estamos na vanguarda das últimas tendências e tecnologias do setor financeiro. Oferecemos soluções inovadoras para atender às necessidades em constante evolução dos nossos clientes, proporcionando uma experiência financeira moderna e eficiente.</p>
                            </li>
                            <li>
                                <p><b>Conveniência</b> : Valorizamos a comodidade. Com uma ampla rede de agências e serviços online acessíveis a qualquer momento e em qualquer lugar, tornamos a gestão das suas finanças simples e fácil.</p>
                            </li>
                            <li>
                                <p><b>Compromisso com a Comunidade</b> : Valorizamos o impacto positivo que podemos ter na comunidade. Estamos comprometidos a apoiar iniciativas sociais e ambientais que façam a diferença.</p>
                            </li>
                        </ul>
                    </p>
                </div>
            </section>
            <section class="services" id="services">
                <h2>Serviços</h2>
                <div class="services-container">
                    <div class="services-box">
                        <img src="../images/services1.png">
                        <div class="service-text">
                            <h4>Consultar à Ordem</h4>
                            <p>A Consulta à Ordem proporciona uma visão detalhada e precisa das suas transações financeiras, permitindo que você acompanhe e analise as suas atividades com facilidade.</p>
                        </div>
                    </div>
                    <div class="services-box">
                        <div class="service-text" style="margin-left: 15px;">
                            <h4>Movimentos e Transações</h4>
                            <p>A Consulta de Movimentos Financeiros é uma funcionalidade essencial do TrustBank, permitindo que você acompanhe e analise as suas transações de forma organizada e aprofundada. </p>
                        </div>
                        <img src="../images/services2.png" style="margin-left: 100px;">
                    </div>
                    <div class="services-box">
                        <img src="../images/services3.png"></img>
                        <div class="service-text">
                            <h4>Executar Pagamentos</h4>
                            <p>Através do TrustBank, você pode realizar Pagamentos para diversos destinatários, como contas de serviços públicos, instituições financeiras e muito mais.</p>
                        </div>
                    </div>
                    <div class="services-box">
                        <div class="service-text" style="margin-left: 15px;">
                            <h4>Dados da Conta</h4>
                            <p>Cada cliente tem a capacidade de acessar e gerenciar os Dados da sua Conta. Através da plataforma online, é possível ver e atualizar informações como nome, número de telefone e endereço de e-mail associados à conta. </p>
                        </div>
                        <img src="../images/services4.png" style="margin-left: 100px;">
                    </div>  
                </div>
            </section>
            <section class="account">
                <h2>Ainda não tem Conta?</h2>
                <h4>Crie conta em 3 passos simples</h4>
                <div class="account-container">
                    <div class="account-steps">
                        <img src="../images/account1.png" style="margin-right: 10px;">
                        <img src="../images/account-num1.png">
                        <div class="account-text">
                            <h4>Introduza os seus Dados</h4>
                            <p>Para ser cliente, temos de saber mais sobre si. Preencha os seus dados e escolha o seu código de acesso.</p>
                        </div>
                    </div>
                    <div class="account-steps">
                        <img src="../images/account2.png" style="margin-right: 10px;">
                        <img src="../images/account-num2.png">
                        <div class="account-text">
                            <h4>Confirme a sua Identidade</h4>
                            <p>Após preencher o formulário, será necessário enviar os documentos exigidos para verificação.</p>
                        </div>
                    </div>
                    <div class="account-steps" style= "border: none;">
                        <img src="../images/account3.png" style="margin-right: 10px;">
                        <img src="../images/account-num3.png">
                        <div class="account-text">
                            <h4>Aguarde a Aprovação da Conta</h4>
                            <p>Após enviar os documentos, a nossa equipa analisará as informações e realizará as verificações necessárias.</p>
                        </div>
                    </div>
                </div>
                <div class="button" style="margin-top: 50px; text-align: center; font-size: 22px; font-weight: 700;">
                    <a href="../templates/signup.php">Criar Conta</a>
                </div>
            </section>
            <section class="partnerships" id="partnerships">
                <h2>Parcerias TrustBank</h2>
                <div class="brand-container">
                    <div class="brand">
                        <a href="https://www.santander.pt/">
                            <img src="../images/brand1.png" style="width: 100%;">
                        </a>
                    </div>
                    <div class="brand">
                        <a href="https://www.visa.pt/">
                            <img src="../images/brand2.png" style="width: 70%;">
                        </a>
                    </div>
                    <div class="brand">
                        <a href="https://www.mastercard.pt/">
                            <img src="../images/brand3.png" style="width: 60%;">
                        </a>
                    </div>
                    <div class="brand">
                        <a href="https://lays.pt/">
                            <img src="../images/brand4.png" style="width: 70%;">
                        </a>
                    </div>
                    <div class="brand">
                        <a href="http://www.unicef.org/">
                            <img src="../images/brand5.png" style="width: 90%;">
                        </a>
                    </div>
                    <div class="brand">
                        <a href="https://www.heineken.com/">
                            <img src="../images/brand6.png" style="width: 100%;">
                        </a>
                    </div>
                    <div class="brand">
                        <a href="https://www.mcdonalds.pt/">
                            <img src="../images/brand7.png" style="width: 70%;">
                        </a>
                    </div>
                    <div class="brand">
                        <a href="https://www.mercedes-benz.pt/">
                            <img src="../images/brand8.png" style="width: 50%;">
                        </a>
                    </div>
                </div>
            </section>
            <section class="about-us" id="about-us">
                <div class="about-info">
                    <h2>Sobre Nós</h2>
                    <p>Nós somos mais do que um banco - somos uma equipa apaixonada dedicada a impulsionar o seu sucesso financeiro.</p><hr>
                    <p>Com um compromisso inabalável e excelência, procuramos constantemente fornecer soluções financeiras inovadoras e personalizadas para atender às suas necessidades únicas.</p><hr>
                    <p>Venha fazer parte da nossa família de clientes satisfeitos e experimente a diferença de um banco que o coloca em primeiro lugar. <br>O seu futuro financeiro começa aqui, no <b>TrustBank</b> .</p>
                </div>
                <div class="about-img">
                    <img src="../images/about-us.jpg">
                </div>
            </section>
        </main>
        <footer>
            <div class="footer-container">  
                <div class="footer-links">
                    <h4>Menu Links</h4>
                    <a href="#" class="link">Home</a>
                    <a href="#services" class="link">Serviços</a>
                    <a href="#partnerships" class="link">Patrocinadores</a>
                    <a href="#about-us" class="link">Sobre Nós</a>
                </div>
                <div class="footer-services">
                    <h4>Serviços</h4>
                    <p>Consultar à Ordem </p>
                    <p>Movimentos e Transações</p>
                    <p>Executar Pagamentos</p>
                    <p>Dados da Conta</p>
                </div>
                <div class="footer-socials">
                    <h4>Redes Sociais</h4>
                    <div class="socials">
                        <a href=""><i class="fa-brands fa-square-facebook"></i></a>
                        <a href=""><i class="fa-brands fa-instagram"></i></a>
                        <a href=""><i class="fa-brands fa-twitter"></i></a>
                        <a href=""><i class="fa-brands fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
            <div class="politics">
                <div class="politics-logo">
                    <img src="../images/logo.png">
                </div>
                <div class="politics-links">
                    <a href="">Aviso Legal</a>
                    <a href="">Política de Privacidade e Cookies</a>
                    <a href="">Informação Legal e Reclamações</a>
                    <a href="">Sustentabilidade</a>
                    <a href="">Segurança</a>
                </div>
            </div>
        </footer>
    </body>
</html>
